{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{ end -}}
#! /bin/bash
{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
{{    if eq .chezmoi.osRelease.idLike "ubuntu debian" -}}
        HOMEBREW_NO_INSTALL_CLEANUP=true brew install zsh
{{    else -}}
        {{ $sudo }} apt install -yy zsh
{{    end }}
{{ end -}}


[ "$(basename ${SHELL})" != "zsh" ] && {{ $sudo }} chsh -s $(which zsh) $(id -un)

