{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{ end -}}
#!/bin/bash

{{- if (or (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
{{    if eq .chezmoi.osRelease.idLike "ubuntu debian" }}
# to install build tools
{{ $sudo }} apt -yy install build-essential procps curl file git
{{    end }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end -}}
