{{ if eq .chezmoi.os "linux" -}}
{{ $packages := list
	"build-essential"
	"python3-pip"
	"python3-venv"
	"python3-full"
	"pipx"
	"nodejs"
	"curl"
	"fd-find"
	"fzf"
	"git"
	"jq"
	"libfuse2"
	"openssh-server"
	"ripgrep"
	"shellcheck"
	"htop"
	"sshpass"
	"tree"
	"xinput" -}}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{ end -}}
#! /bin/bash

{{ $sudo }} apt update
{{ $sudo }} apt install -yy {{ $packages | join " " }}

# xinput: Prevent triggering control char. from trackpoint

{{ end -}}
